@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root{
    --bg-color: #010101;
    --main-color: #1FC742;
    --darker-shade: #025B18;
    --darkest-shade: #023612;
    --contrast: #686868;

}

html, body {
    font-family: 'Share Tech Mono', monospace;
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 5px 0;
}

footer a {
    text-decoration: none;
    color: var(--darkest-shade);
}

footer a:hover {
    cursor: pointer;
    color: var(--main-color);
}

/* Main contains both apps */
.main {
    height: 100vh;
}

h1 {
    text-align: center;
}

/* Container is set to contain the header, form and output elements for each app */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Display is the parent of form and output element */
.display {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
}

button {
    font-family: inherit;
}

/* Graphical output fields */
#listOutput, #treeOutput {
    min-width: 93vw;
    min-height: 35vh;
    background-color: var(--bg-color);
    color: var(--main-color);
    padding: 5px;
}
/* Create initial blinking caret animation in graphic output field*/
@keyframes blink { 
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.caret {
    animation-name: blink;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

/* Desktop media queries */
@media only screen and (min-width: 500px) {
    
    .display {
        flex-direction: row;
        width: 70vw;
        justify-content: space-around;
    }
    
    #listOutput, #treeOutput {
        min-width: 45vw;
        min-height: 35vh;
        background-color: var(--bg-color);
        color: var(--main-color);
        padding: 5px;
    }
}